<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slime_green01</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green02</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green03</key>
            <dict>
                <key>frame</key>
                <string>{{257,0},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green04</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green05</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green06</key>
            <dict>
                <key>frame</key>
                <string>{{128,70},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green07</key>
            <dict>
                <key>frame</key>
                <string>{{257,70},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green08</key>
            <dict>
                <key>frame</key>
                <string>{{385,70},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green09</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green10</key>
            <dict>
                <key>frame</key>
                <string>{{129,130},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green11</key>
            <dict>
                <key>frame</key>
                <string>{{258,130},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green12</key>
            <dict>
                <key>frame</key>
                <string>{{387,130},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green13</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green14</key>
            <dict>
                <key>frame</key>
                <string>{{129,193},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green15</key>
            <dict>
                <key>frame</key>
                <string>{{258,193},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>slime_green16</key>
            <dict>
                <key>frame</key>
                <string>{{387,193},{92,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
